
<%= form_for @user, html: {class: "form-horizontal"} do |f| %>
<fieldset>
  <legend>Register account</legend>

  <%= text_control_group(f, 'account') %>
  <%= password_control_group(f, 'password') %>
  <%= password_control_group(f, 'password_confirmation') %>
  <%= text_control_group(f, 'email') %>
  <%= text_control_group(f, 'cellphone') %>

	<div class="control-group">
		<div class="controls">
			<%= f.submit "Create", class: "btn btn-primary" %>
			<%= link_to "Back", log_in_path, class: "btn" %>
		</div>
	</div>
  <%= render 'shared/errors', obj: @user %>
</fieldset>
<% end %>