
= form_for @song, html: { class: "form-horizontal" } do |f|
	= text_control_group(f, 'title')
	= text_control_group(f, 'singer')
	= text_control_group(f, 'youtube_link')
	= textarea_control_group(f, 'youtube_embed', { rows: 5 })
	.form-group
		.col-md-offset-3.col-md-9
			= f.submit @song.new_record? ? "Create" : "Edit", class: "btn btn-success"
			= link_to "Back", :back, class: "btn btn-default"
	= render 'shared/errors', obj: @song