= form_for @lesson, remote: true, html: { class: "form-horizontal" } do |f|
	.col-md-6
		.form-group
			= f.label :beginning, class: "col-md-3 control-label"
			#lesson_beginning.input-group.col-md-9.input-append
				%input#lesson_lesson_beginning.form-control{ type: 'text',
		    	name: 'lesson[beginning]',
		    	value: display_datetime(@lesson.beginning),
		    	data: { format: 'yyyy-MM-dd hh:mm' }}
				%span.add-on.input-group-addon
					%i.glyphicon.glyphicon-calendar{ data: { "time-icon" => 'glyphicon glyphicon-time', "date-icon" => 'glyphicon glyphicon-calendar' } }
		.form-group
			= f.label :ending, class: "col-md-3 control-label"
			#lesson_ending.input-group.col-md-9.input-append
				%input#lesson_lesson_ending.form-control{ type: 'text',
		    	name: 'lesson[ending]',
		    	value: display_datetime(@lesson.ending),
		    	data: { format: 'yyyy-MM-dd hh:mm' }}
				%span.add-on.input-group-addon
					%i.glyphicon.glyphicon-calendar{ data: { "time-icon" => 'glyphicon glyphicon-time', "date-icon" => 'glyphicon glyphicon-calendar' } }

		- if is_admin? or is_teacher?
			= text_control_group(f, 'payment')
		- else
			= text_control_group(f, 'payment', { disabled: "disabled" })
		= textarea_control_group(f, 'content', { rows: 10 })

	.col-md-6
		.form-group
			= f.label :teacher, class: "col-md-3 control-label"
			.col-md-9
				= f.collection_select :teacher_id, Group.teacher.users, :id, :nickname, { prompt: false }, { class: "form-control" }

		.form-group
			= f.label :students, class: "col-md-3 control-label"
			.col-md-9
				= f.collection_select :student_ids, Group.student_users(current_user), :id, :nickname, {}, { class: "form-control", multiple: true }

		.form-group
			= f.label :songs, class: "col-md-3 control-label"
			.col-md-9
				= f.collection_select :song_ids, Song.all, :id, :title, {}, { class: "form-control", multiple: true }

	.col-md-12
		.form-group
			.col-md-offset-3.col-md-9.form-footer
				= f.submit @lesson.new_record? ? "Create" : "Edit", class: "btn btn-success"
				- if !@lesson.new_record?
					= link_to "Destroy", lesson_path(@lesson), class: "btn btn-danger", remote: true, method: :delete

.clearfix.text-center
	- @lesson.songs.each do |song|
		= raw song.youtube_embed

#mediaContainer

:javascript
	$(document).ready(function() {
		$('#lesson_beginning, #lesson_ending').datetimepicker({
		 	pickSeconds: false
		});

		var displayMedia = {
			media: [],
			detection: function () {
				var str = $('#lesson_content').val();
				var patt1 = /https?:\/\/[^\s]+\.(jpg|png|bmp)/img;
				var result = str.match(patt1);
				var $container = $('#mediaContainer');
				if (result && result.length) {
					for (var i = 0; i < result.length; i++) {
						var exist = false;
						for (var j = 0; j < this.media.length; j++) {
							if (this.media[j].url === result[i]) {
								exist = true;
								break;
							}
						}
						if (!exist) {
							var $img = $('<img src="' + result[i] + '" />');
							$container.append($img);
							this.media.push({
								url: result[i],
								$img: $img
							});
						}
					}

					for (var i = this.media.length - 1; i >= 0; i--) {
						var exist = false;
						for (var j = 0; j < result.length; j++) {
							if (this.media[i].url === result[j]) {
								exist = true;
								break;
							}
						}
						if (!exist) {
							this.media.splice(i, 1);
						}
					}
				}
				else {
					this.media.splice(0, this.media.length);
					$container.empty();
				}

				console.log(this.media.length);
			}
		};

		$('#lesson_content').keyup(function (event) {
			displayMedia.detection();
		});

		displayMedia.detection();
	});